extends layout
block content
	.error-page
		.error-page-content
			img(class="col-lg-4 col-md-4 col-sm-6 col-xs-12 img-rounded" src="http://imagenesdecarrosymotos.com/wp-content/uploads/2015/08/descargar-imagenes-de-carros-deportivos-4.jpg")
			h2 Esta página no está disponible
			button(id="errorButton" type="button" class="btn btn-danger") Ir al inicio