extends layout

block content
	.container
		p Hola, esto es una parrafo
		//lg >= 1200px	md >= 992px	sm >= 768	xs < 768
		//col-lg-4		col-md-4 	col-sm-6	col-xs-12
		.max-width
			img(src="http://complotmagazine.com/wp-content/uploads/2016/03/BugattiChiron-1200x8011-1200x700.jpg" class="col-lg-4 col-md-4 col-sm-6 col-xs-12 img-rounded")
			img(src="http://complotmagazine.com/wp-content/uploads/2016/03/BugattiChiron-1200x8011-1200x700.jpg" class="col-lg-4 col-md-4 col-sm-6 col-xs-12 img-rounded")
			img(src="http://complotmagazine.com/wp-content/uploads/2016/03/BugattiChiron-1200x8011-1200x700.jpg" class="col-lg-4 col-md-4 col-sm-6 col-xs-12 img-rounded")
			img(src="http://complotmagazine.com/wp-content/uploads/2016/03/BugattiChiron-1200x8011-1200x700.jpg" class="col-lg-4 col-md-4 col-sm-6 col-xs-12 img-rounded")
			img(src="http://complotmagazine.com/wp-content/uploads/2016/03/BugattiChiron-1200x8011-1200x700.jpg" class="col-lg-4 col-md-4 col-sm-6 col-xs-12 img-rounded")
			img(src="http://complotmagazine.com/wp-content/uploads/2016/03/BugattiChiron-1200x8011-1200x700.jpg" class="col-lg-4 col-md-4 col-sm-6 col-xs-12 img-rounded")