extends layout
block content
	form(action="" method="post" class="form")
		h2(class="form-titulo") ¿Olvidó su contraseña?
		.contenedor-inputs
			h3(class="max-width help-block center") Complete el siguiente formulario para solicitar una nueva contraseña
			label(class="sr-only input-48" for="nombre") Nombre
			label(class="sr-only input-48" for="apellidos") Apellidos
			input(type="text" name="nombre" placeholder="Nombre" class="input-form input-48" required)
			input(type="text" name="apellidos" placeholder="Apellidos" class="input-form input-48" required)
			label(class="sr-only max-width" for="correo") Correo
			input(type="email" name="correo" placeholder="Correo" class="input-form max-width" required)
			label(class="sr-only input-48" for="usuario") Usuario
			label(class="sr-only input-48" for="telefono") Teléfono
			input(type="text" name="usuario" placeholder="Usuario" class="input-form input-48")
			input(type="text" name="telefono" placeholder="Teléfono" class="input-form input-48" required)
			label(class="sr-only max-width" for="clave") Última contraseña que recuerde
			input(type="password" name="clave" placeholder="Última contraseña que recuerde" class="input-form max-width" required)
			button(type="submit" class="btn btn-primary btn-enviar") Solicitar